<div id="register" style="padding: 2.5% 5%;">
    <div class="form">
        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" name="username" #username>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" class="form-control" id="password" name="password" #password>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" (click)="SubmitButton()">Login</button>
        </div>
    </div>
</div>