<div id="register" style="padding: 2.5% 5%;">
    <div class="form">
        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" #username>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" class="form-control" id="password" #password>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="email" class="form-control" id="email" #email>
        </div>
        <div class="mb-3">
            <label for="fullname" class="form-label">fullname</label>
            <input type="text" class="form-control" id="fullname" #fullname>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">age</label>
            <input type="number" class="form-control" id="age" #age>
        </div>
        <div class="mb-3">
            <label for="no_hp" class="form-label">no_hp</label>
            <input type="number" class="form-control" id="no_hp" #no_hp>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" (click)="RegisterData()">Submit</button>
        </div>
    </div>
</div>